
QLabel{color: #34495e;}
QPushButton{
    font-family:"微软雅黑";
    font-size:18px;
    min-width: 100;
    min-height:28;
    color: white;
    background-color:#398072;
    border-radius:3;
}